@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggqxSuXd.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggOxSuXd.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggSxSuXd.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggixSuXd.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggmxSuXd.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/uploads/fonts/manrope/xn7gYHE41ni1AdIRggexSg.woff2') format('woff2');
}